<?xml version="1.0"?>
<config>
    <modules>
        <Soorajmalhi_Cloudflare>
        <version>0.1.0</version>
        </Soorajmalhi_Cloudflare>
    </modules>
    <admin>
        <routers>
            <cloudflare>
                <use>admin</use>
                <args>
                    <module>Soorajmalhi_Cloudflare</module>
                    <frontName>cloudflare</frontName>
                </args>
            </cloudflare>
        </routers>
    </admin>
    <global>
        <blocks>
            <cloudflare>
                <class>Soorajmalhi_Cloudflare_Block</class>
            </cloudflare>
            <adminhtml>
                <rewrite>
                    <cache>Soorajmalhi_Cloudflare_Block_Adminhtml_Cache</cache>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <cloudflare>
                <class>Soorajmalhi_Cloudflare_Model</class>
            </cloudflare>
        </models>
        <helpers>
            <cloudflare>
                <class>Soorajmalhi_Cloudflare_Helper</class>
            </cloudflare>
        </helpers>
    </global>
</config>